
/* Ajustes para el formulario */
#formulario {
    background: rgba(48, 70, 115, 0.7);
    transition: 0.5s;
    width: 100%;
    text-align: center;

}

h2{
    color: rgb(246, 166, 6);
}
h3{
    color: rgb(0, 0, 0);
}

#formulario h1 {
    margin: 30px;
    padding: 0;
}

#inicio .btn-get-started {
    margin-left: 25px;
    margin-bottom: 5px;
}

#inicio h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  @media (max-width: 994px) {
    #inicio h1 {
      font-size: 25px;
      line-height: 36px;
      margin: 10px;
         
    }
    .form-control{
        font-size: 10px;
    }

    .form-label{
        font-size: 15px;
    }
    #formulario{
        width: 40%;
    }
    
  }
  #inicioContainer{
    transition: 0.5s;
  }


h1 {
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
}

.section {
    margin-bottom: 20px;
}

.input {
    font-size: 1rem;
    margin: 5px 0;
    color: black;
}

label, button {
    font-size: 1rem;
    margin: 5px 0;
    color: rgb(255, 255, 255);
}

input[type="number"], input[type="text"] {
    padding: 5px;
    width: 100px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #e4ede5;
    color: rgb(12, 12, 12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

span {
    color: rgb(140, 239, 140);
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: rgb(131, 124, 41);
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: rgb(120, 255, 239);
}

.table-container {
    overflow-x: auto; /* Añade desplazamiento horizontal */
}

th {
    background-color: #f2f2f2;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    #formulario {
        width: 100%; /* Ancho completo en dispositivos móviles */
        padding: 10px; /* Ajusta el padding en dispositivos móviles */
    }

    input[type="number"],
    input[type="text"] {
        width: calc(100% - 20px); /* Resta el espacio del padding */
    }

    .contenido {
        padding-top: 100px; /* Ajusta el espacio para el navbar en dispositivos móviles */
    }
}

/* Estilos para el contenido recuperado */
.recuperado {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    color: #333;
}

.recuperado img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 5px;
}

.recuperado p {
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 20px;
}


.steps {
    list-style: none;
    padding: 0;
}
.steps li {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}
.steps li:before {
    content: "✔";
    position: absolute;
    left: 0;
    color: green;
    font-weight: bold;
}
.substeps {
    list-style: none;
    padding-left: 20px;
}
.substeps li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.substeps li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: #333;
}